<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
　</aside>
<div class="col-md-8">
  <% if @user.profile.any? %>
    <h3>New Profile</h3>
    <ol class="profile">
      <%= render @profile %>
    </ol>
    <%# <%= will_paginate @profiles %> %>
  <% end %>
</div>
</div>
